footer {
  width: 100%;
  height: 160px;
  background: var(--gray900);
}

footer .inner {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 0;
}

footer .inner .copyright,
footer .inner .sns {
  flex-basis: 150px;
}

footer .inner .copyright {
  color: var(--gray400);
}

footer .inner .privacy {
  display: flex;
  gap: 30px;
}

footer .inner .privacy a {
  color: var(--gray200);
}

footer .inner .sns {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

footer .inner .sns li a {
  display: block;
  width: 20px;
  height: 20px;
}

footer .inner .sns .facebook {
  background: url(../assets/facebook_icon.svg) no-repeat center;
  background-size: 100%;
}

footer .inner .sns .twitter {
  background: url(../assets/twitter_icon.svg) no-repeat center;
  background-size: 100%;
}

footer .inner .sns .youtube {
  background: url(../assets/youtube_icon.svg) no-repeat center;
  background-size: 100%;
}

footer .inner .sns .instagram {
  background: url(../assets/instagram_icon.svg) no-repeat center;
  background-size: 100%;
}

.mobile {
  display: none;
}

/* 1120이하 해상도부터 양쪽 여백 추가 */
@media (max-width: 1200px) {
  section,
  footer {
    min-width: auto;
  }

  footer .inner {
    width: 100%;
    padding: 32px 104px 0;
  }

  footer .inner .copyright,
  footer .inner .sns {
    flex-basis: 120px;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media (max-width: 744px) {
  footer {
    height: 160px;
  }

  footer .inner {
    height: 100%;
    align-items: flex-start;
    padding: 32px;
    position: relative;
  }

  footer .inner .copyright,
  footer .inner .sns {
    flex-basis: auto;
  }

  footer .inner .copyright {
    position: absolute;
    bottom: 32px;
    left: 32px;
  }

  footer .inner .privacy {
    gap: 30px;
  }

  footer .inner .sns li a {
    width: 20px;
    height: 20px;
  }
}
